---
import Testimonial from "../components/Testimonial.astro";

const { testimonials } = Astro.props;
---

<ul class="testimonials-list">
  {
    testimonials.map(({ quote, caption }) => (
      <li class="testimonials-list__item">
        <Testimonial quote={quote} caption={caption} />
      </li>
    ))
  }
</ul>

<style lang="scss">
  .testimonials-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
</style>
