---

---

<section id="contact">
  <h2>Get in touch</h2>
  <p>
    For all enquiries, contact me at <a href="mailto:ada.banaszak@gmail.com"
      >ada.banaszak@gmail.com</a
    >.
  </p>
  <p>
    My name is pronounced "ah-da" – it's the Polish pronounciation – and my
    pronouns are she/her.
  </p>

  <p>Let’s build something great together!</p>
</section>

<style></style>
