---

---

<section>
  <h2>My curriculum</h2>
  <p>
    I’m a cultural studies graduate turned front-end developer. I’ve been
    working full-time in web dev since 2017.
  </p>

  <p>
    I started freelancing in 2022 and since then I’ve worked for various product
    companies, startups, and agencies. If you'd like to know more about my
    freelance work – <a href="mailto:ada.banaszak@gmail.com"
      >send me a message</a
    >.
  </p>
  <a
    href="https://drive.google.com/file/d/1knmREGjbXTlSqC9_uGflwih8Te6P4pVi/view"
    target="_blank"
    rel="noopener noreferrer">Click here to download my CV.</a
  >
</section>

<style></style>
