---

---

<section>
  <h1>Hi, I'm Ada - a freelance web developer.</h1>
  <p>
    I&nbsp;team up with businesses to create people-friendly websites and apps.
  </p>
  <p>Sounds good? <a href="#contact">Get in touch.</a></p>
</section>

<style></style>
