---

---

<section>
  <h2>How I work</h2>
  <p>
    I enjoy building things for the web, be it a landing page or a website to
    showcase your business, a UI kit for your product, or new features in the
    web app you’re working on.
  </p>
  <p>
    While coding, I care about user experience, performance, and reusability of
    code. While communicating, I value transparency, mutual respect, kindness,
    and a sense of humor.
  </p>
  <p>
    I’m based in Warsaw, Poland (GMT +1) and I'm experienced in remote and async
    work.
  </p>
</section>

<style></style>
