---
import TestimonialsList from "../components/TestimonialsList.astro";

const testimonials = [
  {
    quote:
      "For me, Ada is the first person that comes to mind when UI development is mentioned. The experience and professionalism she brings to the table is unparalleled. I have my full trust in her abilities, and I can sleep peacefully knowing she’s on the team.",
    caption: "Maciej Łebkowski, Head of Technology @ Docplanner Phone",
  },
  {
    quote:
      "Ada is highly skilled in her work. She thinks pragmatically about problems we are facing and then goes about getting a solution collaboratively if needed or on her own if so required. As a contractor she is always reliable, super contactable, honest and fair in discussions about rates, hours and responsibilities. Hire her.",
    caption: "William McLean, Managing Director @ Supermarket",
  },
  {
    quote:
      "We call Ada when we need additional help with front-end development. She's attentive, hard working and great to collaborate with. Her quality of work is fantastic and she fits well within our team. We love working with Ada!",
    caption: "Ben Everard, Director & Technical Lead @ The Idea Bureau",
  },
  {
    quote:
      "What makes Ada unique is her spirit of empathetic collaboration. She was thoughtful in her assessment of our roadmap and provided honest feedback on what was achievable with our constraints. We are extremely happy with how our website has turned out and thankful for Ada's diligent work.",
    caption: "Genevieve Diaz, Creative Producer @ Even/Odd",
  },
];
---

<section>
  <h2>What my clients say</h2>
  <TestimonialsList testimonials={testimonials} />
  <div class="cta">
    <a href="/testimonials">Read full testimonials</a>
  </div>
</section>

<style lang="scss">
  .cta {
    margin-top: 2.5rem;
  }
</style>
